@import "../App.css";

.cont {
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  max-width: 1060px;
  text-align: center;
  margin: 0;
  padding: 0;

}

.banner {
  width: 100%;
}

@media screen and (min-width: 1060px) {
  .cont {
    max-width: none;
  }

  .oo {
    margin: 0 40px;
    /* border: 1px solid red; */
  }
}

@media screen and (min-width: 600px) {
  .input_home {
    display: none;
  }

  .home_mobile {
    display: none;
  }
}

@media screen and (max-width: 600px) {

  .cont {
    justify-content: start;
    align-items: start;
  }

  .banner {
    width: 100%;
    justify-content: center;
  }

  .oo {
    width: 100%;
  }

  .input_home {
    background-color: #866CBB;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    height: 45px;
  }

  .home_mobile {
    align-items: start;
  }

  .img-home {
    align-items: start;
  }
}