@import "../App.css";

.cont {
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  max-width: 1060px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
}

@media screen and (min-width: 1060px) {}

@media screen and (min-width: 600px) {

  /* 480 --->  600 */
  .input_home {
    display: none;
  }

  .home_mobile {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  /* 480 --->  600 */

  /* *{
      overflow-x: hidden;
    } */

  .cont {
    justify-content: start;
    align-items: start;

  }

  .banner {
    width: 100%;
    justify-content: center;
  }

  .oo {
    /* background-color: red; */

    width: 100%;

  }

  .input_home {
    background-color: #866CBB;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    height: 45px;
  }

  .home_mobile {
    align-items: start;
  }

  .img-home {
    align-items: start;
  }
}