.cont2 {
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;

    /* height: 100vh; */
}

.profile-img {
    width: 84px;
    height: 84px;
    object-fit: cover;
    border-radius: 50%;
}

.first {
    display: flex;
}

.nickname {
    font-weight: 500;
    font-size: 33px;
}

.rating-prof {
    color: #4A307F;
    font-weight: 600;
    font-size: 20px;
    margin-right: 10px;
}

.second-prof {
    /* border: 3px solid rgb(68, 40, 76); */
    display: flex;
    margin-top: 15px;
    align-items: baseline;

}

.prof-rev {
    color: #4A307F;
    font-weight: 600;
    font-size: 16px;
    margin-left: 10px;
}

.left-prof {
    /* border: 3px solid rgb(68, 40, 76); */

    margin-left: 20px;
}

.balance {
    align-items: start;
    display: flex;
    padding: 10px;
    width: 170px;
    height: 39px;
    border: 0.5px solid rgb(230, 230, 230);
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5%;
}

.flpo {
    display: flex;
}

.popp {
    width: 170px;
    background-color: #00B512;
    color: white;
    height: 39px;
    font-weight: 600;
    border-radius: 5%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;

}

.bal {
    display: flex;
}

.balance-p {
    font-weight: 661;
    font-size: 16px;
    color: #3C3C3C;
}

.bal-prof {
    color: #4A307F;
    font-weight: 661;
    font-size: 16px;
}

.prof-s {
    width: 380px;
    height: 43px;
    border: 1px solid rgb(230, 230, 230);
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
}

.para-prof {
    margin-top: 11px;
}

.all-prof {
    display: flex;
}

.activeeee {
    background-color: #F5F5F5;
}

.butt45 {
    margin-top: 15px;
    width: 33%;
    height: 40px;
    /* margin-right: 10px; */
    border: 1px solid #dbdbdb;
    font-size: 15px;
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}

.rwe {
    display: flex;
}

.tabs {
    display: flex;
    width: 100%;
    /* border: 1px solid red; */
    gap: 10px;
}

.bal-prof {
    margin-left: 5px;
}



@media (max-width: 600px) {
    .cont2 {
        margin: 0;
        /* border: 1px solid red; */
        margin: 20px;
        width: auto;
    }

    .first {
        text-align: left;
        /* border: 1px solid green; */
    }

    .flpo {

        /* border: 1px solid green; */
    }

    .rwe {
        width: auto;
    }

    .balance {
        width: 100%;
    }

    .profile-img {
        width: 100px;
    }

    .popol {
        width: 100%;
        margin-right: 5px;
        /* border: 1px solid black; */

    }

    .popp {
        width: 100%;
    }
}