/* ChatPage.css */

/* Стили для контейнера чатов */



.ChatPage {
  display: flex;
  height: 80vh;
  /* border: 3px solid rgb(69, 69, 66); */
  width: 80vw;
  margin-top: 65px;
}

.AllChat {
  flex: 0 0 35%;


  border-right: 1px solid #4a307f4a;

  /* border: 3px solid rgb(69, 69, 66); */

  /* 30% ширины */
  /* background-color: #ebebeb; */
  /* Цвет фона для примера */
}

.ChatUs {
  flex: 0 0 65%;
  /* 70% ширины */
  /* background-color: #e9f5e9; */
  /* Цвет фона для примера */
}



.AllChat-h1{
  display: none;
  font-size: 30px;
  color: #4A307F;
  font-weight: 600;
  margin-bottom: 25px;
}
@media (max-width: 1000px) {
  
  .ChatUs {
    /* border: 1px solid red; */
    flex: 0 0 100%;
  }
  .AllChat-h1{
    display: block;
  }
  .AllChat {
    flex: 0 0 100%;
   
    border-right: none

  } 
  
}