.product-list {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
  /* margin-left: 10px; */
  /* border: 1px solid red; */
}


.product-card {
  width: 100px;
  padding: 10px;
  text-align: center;
  /* border: 1px solid green; */

}

.product-card-app {
  width: 100px;
  padding: 10px;
  text-align: center;
  /* border: 1px solid green; */

}

.product-logo {
  width: 100%;
  border-radius: 15px;
  /* 100 avg == 115 <==> 65 */
  max-height: 105px;
  max-width: 105px;

  min-height: 75px;
  min-width: 75px;

  -webkit-box-shadow: 0px 5px 10px 1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 1px rgba(34, 60, 80, 0.2);
}

.product-name {
  font-size: 11px;
  margin-top: 7px;
  color: #4A307F;
  font-weight: 500;
}

.tit {
  font-size: 28px;
  font-weight: 600;
  color: #4A307F;
  text-align: left;
  margin-left: 10px;
  /* margin-bottom: 30px; */

  /* border: 1px solid green; */

}

.co {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid green; */

}

.gm {
  width: 60%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;

}

.ap {
  width: 40%;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  margin-left: 90px;
}

.block {
  display: flex;
  /* justify-content: space-between; */
  height: 45px;
  /* border: 1px solid yellow; */
  margin-bottom: 25px;
  align-items: center;
}

.under-block {
  /* border: 3px solid orange; */
  display: flex;
  align-items: center;
  height: 100%;
}

.game-button {
  height: 32px;
  background-color: #866CBB;
  color: white;
  font-size: 15px;
  width: 120px;
  border-radius: 10px;
  margin-left: 20px;
}

.game-button2 {
  height: 32px;
  background-color: #866CBB;
  color: white;
  font-size: 15px;
  width: 50px;
  border-radius: 10px;
  margin-left: 20px;
  /* border: 2px solid orange; */

}


/* Медиа-запросы для различных ширин экрана */
@media (min-width: 1600px) {
  .product-card {
    width: 16%;
  }

  .product-card-app {
    width: 25%;

  }
}

@media (min-width: 1400px) and (max-width: 1599px) {
  .product-card {
    width: 20%;
  }

  .product-card-app {
    width: 33%;
  }
}

@media (max-width: 1399px) {
  .product-card {
    width: 25%;
  }

  .product-card-app {
    width: 50%;
  }
}



@media screen and (max-width: 480px) {
  .tit {
    font-size: 25px;
  }

  .block {
    justify-content: space-between;
  }

  .product-logo {
    width: 75px;
    height: 75px;
  }

  .product-card {
    padding: 5px;
    width: 90px;
  }

  .co {
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    display: block;
    width: 100%;
  }

  .ap {
    margin-left: 0px;
  }

  .product-list {
    display: flex;
    gap: 0px;
    margin-left: 5px;
  }

  .product-name {
    font-size: 11px;
  }
}