.ProductComponent-product-card2 {
    /* height: 275px; */
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 10px;
    /* margin: 10px; */
    /* border: 1px solid green; */
    border-radius: 15px;
    /* -webkit-box-shadow: 0px 0px 1px 2px rgba(203, 203, 203, 009);
    -moz-box-shadow: 0px 0px 1px 2px rgba(203, 203, 203, 009);
    box-shadow: 0px 0px 1px 2px rgba(203, 203, 203, 009); */
}


@media (min-width: 1600px) {
    .ProductComponent-product-card2 {
        width: 24%;
    }
}

@media (max-width: 1600px) {
    .ProductComponent-product-card2 {
        width: 32%;
    }
}

@media (max-width: 1060px) {
    .ProductComponent-product-card2 {
        width: 48%;
    }
}

@media (max-width: 800px) {
    .ProductComponent-product-card2 {
        width: 100%;
    }
}

.ProductComponent-product-logo1 {
    min-height: 250px;
    max-height: 500px;

    align-items: center;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    height: 40%;

    object-fit: cover;	

}

.ProductComponent-firstline-card {
    display: flex;
}


.ProductComponent-rating{
    display: flex;
    /* border: 1px solid red; */
    gap: 10px;
    align-items: center;
}
.ProductComponent-card-logo {
    border-radius: 5px;
    width: 39px;
    height: 39px;
}

.ProductComponent-product-rating-left{

    font-weight: 600;
    color: #4A307F;
    font-size: 18px;
}

.ProductComponent-product-rating-right{

    font-weight: 600;
    color: #4A307F;
    font-size: 18px;
}
.ProductComponent-product-name2,
.ProductComponent-product-name3 {
    font-weight: 600;
    color: #4A307F;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;

    /* border: 1px solid red; */
    width: auto;
}

.ProductComponent-product-name3 {
    margin-bottom: 5px;
    margin-top: 5px;
}


.ProductComponent-text-card {
    margin-left: 10px;
    margin-bottom: 10px;
}

.ProductComponent-card-category2 {
    font-size: 10px;
    text-align: left;
}

.ProductComponent-card-description {
    text-align: left;
    word-wrap: break-word;
}

.ProductComponent-descrip-prod {
    font-weight: 600;
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    .ProductComponent-alll {
        width: 100%;

    }

    .ProductComponent-blockkk {
        width: 100%;
        /* border: 1px solid red; */

    }

    .ProductComponent-game-button3 {
        display: none;
    }

    .ProductComponent-card-list2 {
        /* border: 3px solid blue; */

        width: 100%;
    }

    .ProductComponent-product-card2 {
        width: 100%;
        margin-bottom: 60px;
        /* border: 1px solid orange; */

    }

    .ProductComponent-product-logo1 {
        /* border: 3px solid rgb(113, 36, 36); */

        padding: 0;
        margin: 0;

        /* width: 400px;
        height: 192px; */
    }

    .ProductComponent-product-name3 {
        font-size: 16px;
    }

    .ProductComponent-descrip-prod {
        font-weight: 600;
        font-size: 14px;
    }

    .ProductComponent-card-category2 {
        font-size: 13px;
        text-align: left;
    }

}