.game-detail {
    position: relative;
}

.game-banner {
    height: 185px;
    object-fit: cover;
    width: 1400px;
}

.overlay {
    position: absolute;
    bottom: 30px;
    left: 70px;
    display: flex;
    height: 56px;
}

.overlay-img {
    height: 100%;
    border-radius: 10px;
    margin-right: 20px;
}

.overlay-text {
    color: #FFF;
    font-size: 42px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: white;
    
    text-shadow:
        -2px -2px 0 #4A307F,
        -2px 2px 0 #4A307F,
        2px -2px 0 #4A307F,
        2px 2px 0 #4A307F;

}