.otzivview-nazad {
    display: flex;
    /* border: 1px solid red; */
}

.otzivview-nazad-icon {
    font-size: 32px;
    margin-right: 10px;
    /* border: 1px solid green; */
    width: auto;
}

.otzivview-nazad-name {
    font-size: 32px;
    color: black;
    font-weight: 600;
}

.otzivview-top2 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.otzivview-text {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 600;
}

.otzivview-rating {
    color: #4A307F;
    font-size: 55px;
    font-weight: 600;
    width: auto;

}
.otzivview-top-right{
    /* border: 1px solid red; */
    margin-left: 10px;
    margin-top: 5px;
    width: auto;

}

.otzivview-count {
    color: #4A307F;
    font-size: 15px;
    font-weight: 500;
}

.otzivview-nn {
    display: flex;
}


.containeraman {
    margin: 45px;
}

.containergalmjan {
    width: 100%;
}



.sectionotzivamana {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.otzivview-spisokmid {
    display: flex;
    margin-top: 15px;
}

.otzivview-stars {
    /* border: 1px solid rgba(147, 147, 147, 0.12); */
    font-size: 50px;
}
.otzivview-stars-little{
    font-size: 22px;

}
.otzivview-spisok {
    font-size: 22px;
    margin-left: auto;
    margin-top: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.otzivview-button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid rgba(147, 147, 147, 0.12);
    background: #FAFAFA;

    color: #000;
    font-size: 20px;
    font-weight: 461;

    width: auto;
}


@media (max-width: 600px) {

    .otzivview-button {
        font-size: 16px;
        margin: 5px;
        
    }
}