@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Nunito:wght@600&family=Poppins:wght@400;600&display=swap');
@import "./Reset.css";

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --accent-color: #4A307F;
}

/* .light-theme {
  --background-color: #ffffff;
  --text-color: #000000;
  --accent-color: #ff4500;
} */
/* 
.dark-theme {
  --background-color: #121212;
  --text-color: #ffffff;
  --accent-color: #4A90E2;
} */

.app {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #9b9b9b;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.content {
  border-radius: 10px;
  overflow: hidden;
}


.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  margin: 0;
  margin-top: 90px;
  padding: 0;
  padding-left: 225px;

}



.com {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: wheat; */

}

@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .content {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .com {
    margin-top: 85px;

  }
}

@media screen and (max-width: 1220px) and (min-width: 600px) {
  .content {
    padding-left: 100px;
  }
}