.sidebar {
  width: 225px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.2s ease;
  /*
  z-index: 999; 
  position: fixed; */
}

.logo {
  background-color: #4A307F;
  height: 80px;
  text-align: center;
  justify-content: center;
  width: 100%;

}

.logo-img,
.logo-img2 {
  margin-top: 20px;
  width: 150px;
  height: 40px;
}

.navbar-menu {
  width: 100%;
}

.navbar-menu-list {
  list-style-type: none;
}

.navbar-menu-list li {
  border-bottom: 2px solid #4d4d4d09;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  height: 75px;
}

.NavLink {
  width: 150px;
  display: flex;
  align-items: center;
  opacity: 0.5;
}

.navbar-menu-list li a {
  text-decoration: none;
  color: #4A307F;
  display: flex;
}

.svg {
  width: 26px;
  height: 26px;
  margin-right: 10px;
}

.active {
  /* border: 1px solid red; */
  opacity: 1;
}

.li:hover {
  background-color: #f1f1f1b5;
  transition: background-color 0.3s ease;

}

.li {
  /* border: 1px solid red; */
  height: 96px;
}

@media screen and (max-width: 1220px) {
  .mobile-sidebar {
    display: none;
  }

  .logo-img {
    display: none;
  }

  .logo-img2 {
    width: 74px;
    height: 34px;
  }

  .sidebar {
    /* background-color: aquamarine; */
    width: 100px;
    height: 100vh;
    display: block;
    flex-direction: column;
    align-items: center;
  }

  .sidebar p {
    display: none;
  }

  .navbar-menu-list li {
    font-size: 14px;
  }

  .navbar-menu-list {
    width: 90px;
    margin: auto;

  }

  .svg {
    width: 36px;
    height: 36px;
    align-items: center;
    margin: auto;
  }

  .svg-div {
    padding: 15px;
    border-radius: 100%;
    margin-bottom: -10px;
    transition: background-color 0.3s ease;


  }



  .blo {
    display: block;
  }
}

.mobile-sidebar p {
  color: white;
  font-size: 12px;
  margin-top: 3px;
}

.mobile-sidebar li {
  width: 20%;
  padding-top: 15px;
  padding-bottom: 10px;
}

.mobile-sidebar {
  display: block;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  height: 70px;
  background-color: #4A307F;
  min-width: 100%;

}

.mobile-navbar-menu-list {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.blo {
  display: flex;
  flex-direction: column;
}


@media (max-width: 600px) {
  .sidebar {
    display: none;
    background-color: aquamarine;

  }

  .svg {
    height: 26px;
    width: 26px;
  }

  .mobile-navbar-menu-list li a {
    text-decoration: none;
    display: flex;
  }
}

@media (min-width: 600px) {
  .mobile-sidebar {
    display: none;
  }
}